NEXT_PUBLIC_APP_NAME=Dashboard Multi WhatsApp

# Disiapkan untuk backend (belum dipakai)
NEXT_PUBLIC_API_URL=
WA_TOKEN=
WA_VERIFY_TOKEN=
WA_APP_SECRET=
GRAPH_VERSION=v26.0
DATABASE_URL=postgres://wa:wa@localhost:5432/wa